/* Основные цвета */
$primary: #007bff; /* Яркий синий */
$secondary: #6c757d; /* Нейтральный серый */
$accent: #e83e8c; /* Яркий розовый */

/* Фон и текст */
$dark: #333333; /* Темный текст */
$dark-page: #f4f4f4; /* Светлый фон страницы */

/* Статусные цвета */
$positive: #28a745; /* Зеленый для успеха */
$negative: #dc3545; /* Красный для ошибок */
$info: #17a2b8; /* Спокойный синий для информации */
$warning: #ffc107; /* Желтый для предупреждений */
